schemas/kernel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="msg">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="header">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="from" type="xsd:string"/>
            <xsd:element name="to" type="xsd:string"/>
            <xsd:element name="date" type="xsd:date"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="text" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:ID"/>
  </xsd:complexType>
  </xsd:element>
</xsd:schema>